@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: 0;
}

h1{
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

ol,ul{
    margin-left: 20px;
}

ul{
    list-style-type:square;
}

#p1{
    font-size: 20px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    border: 1px solid black;
    outline: 1px solid #333;
    background-color: wheat;
    padding: 20px 60px 30px 50px;
    margin: 40px;
    box-shadow: 2px 2px 10px black;
    border-radius: 32px;
    transition: .2s all ease;
    cursor: pointer;
}

#p1:hover{
    
    background-color: white;
    margin: 50px;

}

button{
    display: block;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px ;
    width: 130px;
    border-radius: 32px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

button:hover{
    background-color: #000;
    background: red;
   

}
#p2{
    border: 2px solid black;
    padding: 20px;
    border-radius: 32px;
    margin: 20px;
}


label,input{
margin: 10px 20px;
}